{% extends "base.html" %}

{% block content %}

<a href="{% url 'app:lead-list' %}">Go back</a>
<hr />

<h1>Detail </h1>

{% comment %} {{ lead.profile_picture|pprint }} {% endcomment %}

{% if lead.profile_picture %}

<img src="{{ lead.profile_picture.url }}" class="img-thumbnail" alt="...">

{% endif %}

<h2>fisrt name: {{ lead.first_name }} </h2>
<h3>last name: {{ lead.last_name}}</h3>
<h4>Age: {{ lead.age }}</h4>
<h5>description: {{ lead.description }}</h5>
<h5>date_added: {{ lead.date_added }}</h5>
<h5>phone_number: {{ lead.phone_number }}</h5>
<h5>email: {{ lead.email }}</h5>

<hr>

<h5>Agent: {{ lead.agent }}</h5>
<h5>organisation: {{ lead.organisation }}</h5>

<hr>

{% if lead.category.name %}
<h5>Category: {{ lead.category.name }}</h5>
{% else %}
{% endif %}


<a class="btn btn-success" href="{% url 'app:lead-category-update' lead.id %}">Category Update</a>
<a class="btn btn-primary" href="{% url 'app:lead-update' lead.id %}">Update</a>
<a class="btn btn-danger" href="{% url 'app:lead-delete' lead.id %}">Delete</a>


<br>

<div class="container p-5">


    <h2>Follow UP</h2>

    <a href="{% url 'app:lead-followup-create' lead.id %}" class="btn btn-primary">ADD Follow UP</a>

    <div class="container p-5">

        {% for followup in lead.followups.all %}
        <h4>
            {{ followup.notes }}
        </h4>

        {% if followup.file %}
        <a href="{{ followup.file.url }}" download class="h3">{{ followup.file }}</a>
        {% endif %}

        <br>

        <a href="{% url 'app:lead-followup-update' followup.id %}" class="btn btn-success btn-sm mt-4">update</a>

        <hr>

        {% endfor %}


    </div>

</div>

{% endblock content %}