{% if messages %}
{% for message in messages %}


{% if message.tags == 'success' %}

<div class="alert alert-primary" role="alert">
    {{ message }}
</div>

{% elif message.tags == 'warning' %}

<div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
</div>

{% elif message.tags == 'error' %}

<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
</div>


{% elif message.tags == 'info' %}

<div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
</div>

{% endif %}



{% endfor %}
{% endif %}